<!DOCTYPE html>
<html lang="tr">
<head>
    {% include head.html %}
</head>
<body>

    <!-- HEADER -->
    <header id="header" class="inside blog">
        <div class="container">
           
            {% include navigation.html %}
            
            
            {% if page.title %}
            <!-- Description -->
            <div class="d-flex align-items-center justify-content-center desc">
                <h2 class="site-description wow pulse">{{ page.title }}</h2>
            </div>
            <!-- Description -->
            {% endif %}
            
        </div>
    </header>
    <!-- HEADER END -->    

    <!-- MAIN -->
    <main id="main" class="page">
        <div class="container">
            <div class="row">
               
                {% for post in site.posts %}
                <!-- Col -->
                <div class="col-xs-12 col-md-6 col-lg-4">
                   
                    <!-- Article -->
                    <article class="post post-normal blog-post">
                        <a href="{{ post.url | absolute_url }}">
                           
                            <!-- Article Image -->
                            <img class="img-fluid" src="{% if post.cover %}{{ site.url }}/{{ post.cover }}{% endif %}" alt="{{ post.title }}">
                            <!-- Article Image End -->
                            
                            <!-- Article Category -->
                            <span class="meta">    
                                {% if post.tags.size > 0 %}
                                    {% for tag in post.tags limit:1 %}
                                        {% if forloop.index == post.tags.size%}
                                            <span class="cat wow slideInRight" data-wow-duration="1s">{{ tag | capitalize }}</span>
                                        {% else %}
                                           <span class="cat wow slideInRight" data-wow-duration="1s">{{ tag | capitalize }}</span>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}                                                       
                                                                                                     
                                <span class="cat date wow slideInRight" data-wow-duration="1.5s">{{ post.date | date: "%-d %B %Y" }}</span>
                            </span>
                            <!-- Article Category End -->
                            
                            <!-- Article Title -->
                            <h2 class="title wow slideInLeft">{{ post.title }}</h2>
                            <!-- Article Title End -->
                        </a>
                    </article>
                    <!-- Article End -->
                    
                </div>
                <!-- Col End -->
                {% endfor %}
                
            </div>
            

                            
        </div>
    </main>
    <!-- MAIN -->
    

    {% include contact-area.html %}
    {% include footer.html %}
    {% include scripts.html %}
